@font-face {font-family: "AlternateGotNo1D";
    src: url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.eot");
    src: url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b4c2d6f691dc323c5db3fd177ea885b5.svg#AlternateGotNo1D") format("svg");
}

@media screen and (max-width: 1250px){
nav {
	float:right;
	margin-right:10px;
	margin-top:10px;
	font-size: 25px;
	letter-spacing: 3px;
	font-family: 'AlternateGotNo1D';
	color: white;
}

nav a{
	color:white;
	display:inline-block;
	text-decoration: none;
	transition: 1s;
	padding-left:20px;
}

nav a:hover {
	color:darkgrey;
}
.drop-down-menus{
	width:100%;
	z-index: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	float: center;
	padding: 0 0 0 0;
	margin-left:auto;
	margin-right:auto;
	background-color: #000000;
    box-shadow: 2px 4px 6px 0px rgba(33, 31, 31, .5);
    opacity: 0;
}

.drop-down-menus .dropdowns{
	position: relative;
	left: 40px;
	display: inline-block;
}


.drop-down-menus h1#title{
	display:inline-block;
	font-size: 38px;
	float:left;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	font-family:'AlternateGotNo1D';
	color:white;
	
}

.drop-down-menus h1#title a{
	color:white;
	display:inline-block;
	text-decoration: none;
	transition: 1s;
	padding-left:20px;
}

.drop-down-menus h1#title a:hover {
	color:darkgrey;
}

/*------------dropdown-industries------------*/


/* Dropdown Button */
.industriesbtn {
    height: 40px;
	display: inline-block;
    background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 30px;
    letter-spacing: 3px;
    font-family:'AlternateGotNo1D';
    border: none;
    cursor: pointer;
    margin-bottom: 6px;
    margin-right: 5px;
}

.industriesbtn nav a{
	color: white;
}

.industriesbtn a:hover{
	color: darkgrey;
	transition: 1s;
}
/* The container <div> - needed to position the dropdown content */
.industries-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.industries-content {
	z-index: 1;
	display:block;
	opacity: 0;
	margin-top: 0px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.industries-content a {
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'AlternateGotNo1D';
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.industries-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.industries-dropdown:hover .industries-content{
    opacity: 1;
    transition: .5s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.industries-dropdown:hover .industriesbtn {
    background-color: #000000;
}

/*------------dropdown-about------------*/


/* Dropdown Button */
.aboutbtn {
	background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 30px;
    letter-spacing: 3px;
    font-family:'AlternateGotNo1D';
    border: none;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
}

.aboutbtn nav a{
	color: white;
}

.aboutbtn a:hover{
	color: darkgrey;
	transition: 1s;
}

/* The container <div> - needed to position the dropdown content */
.about-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.about-content {
	z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.about-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'AlternateGotNo1D';
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.about-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.about-dropdown:hover .about-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.about-dropdown:hover .aboutbtn {
    background-color: #000000;
}

/*------------dropdown-team------------*/


/* Dropdown Button */
.teambtn {
    background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 30px;
    letter-spacing: 3px;
    font-family:'AlternateGotNo1D';
    border: none;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
}

.teambtn nav a{
	color: white;
}

.teambtn a:hover{
	color: darkgrey;
	transition: 1s;
}

/* The container <div> - needed to position the dropdown content */
.team-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.team-content {
	z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.team-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'AlternateGotNo1D';
    display: block;
}

/* Change color of dropdown links on hover */
.team-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.team-dropdown:hover .team-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.team-dropdown:hover .teambtn {
    background-color: #000000;
}


/*------------contact------------*/
.contactsbtn {
    background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    font-family:'AlternateGotNo1D';
    border: none;
    cursor: pointer;
}

.contactbtn nav a{
	color: white;
}

.contactbtn a:hover{
	color: darkgrey;
	transition: 1s;
}

.contacts {
    position: relative;
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.contacts:hover .contactsbtn {
    background-color: #000000;
}

/*-----------dropdownsmall---------*/

.drop-down-small{
	height: 50px;
	width:100%;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	float: center;
	padding: 0 0 0 0;
	margin-left:auto;
	margin-right:auto;
	background-color: black;
    box-shadow: 2px 4px 6px 0px rgba(33, 31, 31, .5);
    opacity: 1;
}

.drop-down-small-drop-down{
	position: relative;
	display: inline-block;
}

.drop-down-small-drop-down-btn{
	background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 38px;
    letter-spacing: 3px;
    font-family:'AlternateGotNo1D';
    border: none;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
	display: inline-block;
}

.drop-down-small-drop-down-btn nav a{
	font-size: 25px;
}

.drop-down-small-drop-down-btn a:hover{
	color:darkgrey;
	transition: 1s;
}


.drop-down-small-drop-down-content{
	z-index: 1;
	display:block;
	opacity: 0;
	margin-top: 5px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-down-small-drop-down:hover .drop-down-small-drop-down-content{
	opacity: 1;
	transition: .5s;
}

.drop-down-small-drop-down-content a{
	color: black;
    padding: 12px 16px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'AlternateGotNo1D';
    text-decoration: none;
    display: block;
}

.drop-down-small-drop-down-content a:hover{
	background-color: #f1f1f1;
	
}
	
.drop-down-small .drop-down-small-logo{
	
}

.drop-down-small .drop-down-small-logo h1#small-title nav{
	font-size: 58px;
	float:left;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	font-family:'AlternateGotNo1D';
	color:white;
}

.drop-down-small .drop-down-small-logo h1#small-title a{
	color:white;
	display:inline-block;
	text-decoration: none;
	transition: 1s;
	padding-left:20px;
}



.drop-down-small nav{
	float:right;
	margin-right:10px;
	margin-top:10px;
	font-size: 25px;
	letter-spacing: 3px;
	font-family: 'AlternateGotNo1D';
	color: white;
}

/*----------------------*/

}