
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> Register </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/drop-down.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/drop-down-small.css}"/>
</head>

<body>
	<div class = "drop-down-menus">
		<a th:href = "@{http://www.umbra-corp.com}"><img id = "logo" th:src="@{/images/U logo.png}"  alt="Umbra" style="width:24px;height:30px;"/></a>
		<div class = "dropdowns">
			<div class = "industries-dropdown">
 				<button class="industriesbtn">
 				<nav>
 				<a th:href = "@{http://www.umbra-corp.com/industries}">INDUSTRIES</a>
 				</nav>
 				</button>
 				<div class="industries-content">
    				<a th:href="@{http://www.umbra-corp.com/industries-tax}">TAX</a>
    				<a th:href="@{http://www.umbra-corp.com/industries-consulting}">CONSULTING</a>
  				</div>
  			</div>
  			<div class = "about-dropdown">
 				<button class="aboutbtn">
 				<nav>
 				<a th:href = "@{http://www.umbra-corp.com/about}">ABOUT</a>
 				</nav>
 				</button>
  			</div>
  			<div class = "team-dropdown">
 				<button class="teambtn">
				<nav>
 				<a th:href = "@{http://www.umbra-corp.com/team}">TEAM</a>
 				</nav>
 				</button>
  			</div>
  			<div class = "contacts">
  				<button class = "contactsbtn">
				<nav>
 				<a th:href = "@{http://www.umbra-corp.com/contact}">CONTACT</a>
 				</nav>
				</button>
  			</div>
  		</div>
  		<nav>
			<a th:href = "@{http://www.umbra-corp.com/login}">LOGIN</a>
			<a th:href = "@{http://www.umbra-corp.com/register}">REGISTER</a>
		</nav>
	</div>
	
	<div class = "drop-down-small">
		<div class = "drop-down-small-drop-down">
			<button class = "drop-down-small-drop-down-btn">
			<nav>
			<a th:href = "@{http://www.umbra-corp.com}"><img th:src="@{/images/U logo.png}"  alt="Umbra" style="width:24px;height:30px;"/></a>
			</nav>
			</button>
			<div class = "drop-down-small-drop-down-content">
				<div class = "drop-down-small-drop-down-industries">
					<a th:href="@{http://www.umbra-corp.com/industries}">INDUSTRIES</a>
					<!--<div class = "drop-down-small-drop-down-industries-content">
						<a th:href="http://www.umbra-corp.com/industries-tax">TAX</a>
						<a th:href="http://www.umbra-corp.com/industries-consulting">CONSULTING</a>
					</div>-->
				</div>
    			<a th:href="@{http://www.umbra-corp.com/about}">ABOUT</a>
				<a th:href="@{http://www.umbra-corp.com/team}">TEAM</a>
	    		<a th:href="@{http://www.umbra-corp.com/contact}">CONTACT</a>
			</div>
		</div>
		
		<nav>
			<a th:href = "@{http://www.umbra-corp.com/login}">LOGIN</a>
			<a th:href = "@{http://www.umbra-corp.com/register}">REGISTER</a>
		</nav>
	</div>
	
	
	<center>
	<div class = "register-container">
		<div class = "title">
			<p> R E G I S T E R </p>
		</div>
		<div class = "register">
			<form class = "form-register" action = "#" th:action="@{/register}" method = "post">
				<p class = "email_text"> Email </p>  
				<input type = "text" class = "input_email"  th:name = "email" th:value = "${user.email}"/><br />
				<p class = "confirme_text"> Confirm Email </p>
				<input type = "text" class = "input_confirm_email"  th:name = "testEmail" th:value = "${confirmUser.testEmail}"/><br /><br />
				<p class = "password_text"> Password </p>
				<input type = "password" class = "input_password"  th:name = "plainPassword" th:value = "${user.plainPassword}"/><br />
				<p class = "confirmp_text"> Confirm Password </p>
				<input type = "password" class = "input_confirm_password"  th:name = "testPassword" th:value = "${confirmUser.testPassword}"/><br />
				<p><input type="submit" value = "Submit" class = "registerbtn"/></p>
			</form>
		</div>
	</div>
	</center>
</body>
</html>