<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/js/test-control.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<a th:href = "@{http://www.umbra-corp.com}"><img th:src="@{/images/U logo.png}"  alt="Umbra" style="width:24px;height:30px;"/></a>
		<form action  = "#" th:action="@{/test}" th:object="${user}" method="post">
			<p>First Name: <input type = "text" th:field = "*{email}"/></p>
			<p>E-mail: <input type = "text" th:field = "*{password}"/></p>
			
			<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		</form>
	</body>
</html>