@import url(https://fonts.googleapis.com/css?family=Calibri);


/*-----------STATIC-----------*/
/*----------------------------*/

/*-------------nav--------------*/
nav {
	float:right;
	margin-right:10px;
	margin-top:10px;
	font-size: 1.2em;
	font-family: 'Calibri';
	font-weight:bold;
	color: white;
}

nav a{
	color:white;
	display:inline-block;
	text-decoration: none;
	transition: 1s;
	padding-left:20px;
}

nav a:hover {
	color:darkgrey;
}


/*------------dropdown------------*/

.drop-down-menus{
	top: 0px;
	background-color: #000000;
}


.drop-down-menus h1#title{
	display:inline-block;
	float:left;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	font-family:'Calibri';
	color:white;
	
}

.drop-down-menus h1#title a{
	color:white;
	display:inline-block;
	text-decoration: none;
	transition: 1s;
	padding-left:20px;
}

.drop-down-menus h1#title a:hover {
	color:darkgrey;
}

/*------------dropdown-companies------------*/


/* Dropdown Button */
.companiesbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family:'Calibri';
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.companies-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.companies-content {
	z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.companies-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Calibri';
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.companies-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.companies-dropdown:hover .companies-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.companies-dropdown:hover .companiesbtn {
    background-color: #000000;
}

/*------------dropdown-about------------*/


/* Dropdown Button */
.aboutbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family:'Calibri';
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.about-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.about-content {
	z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.about-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Calibri';
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.about-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.about-dropdown:hover .about-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.about-dropdown:hover .aboutbtn {
    background-color: #000000;
}

/*------------dropdown-team------------*/


/* Dropdown Button */
.teambtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family:'Calibri';
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.team-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.team-content {
	z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.team-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Calibri';
    display: block;
}

/* Change color of dropdown links on hover */
.team-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.team-dropdown:hover .team-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.team-dropdown:hover .teambtn {
    background-color: #000000;
}


/*------------contact------------*/
.contactsbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family:'Calibri';
    border: none;
    cursor: pointer;
}

.contacts {
    position: relative;
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.contacts:hover .contactsbtn {
    background-color: #000000;
}

/*-----------STATIC-----------*/
/*----------------------------*/